// Colors
$white-color: #fff;
$black-color: #000;
$cerulean-color: #04a9f4;
$gray-color: #8b8b8b;
$emperor-color: #4f4f4f;
$fernFrond-color: #676121;
$loblolly-color: #c6ccd2;
$java-color: #18cfab;
$azure-color: #3162a2;
$azureRadiance-color: #0988ea;
$screamingGreen-color: #46ee6b; // mostly to indicate the state of the connected user(online)
$denim-color: #0d76c6;
$mystic-color: #e4eaf0;
$mysticLighter-color: #e9eff1;
$limedSpruce-color: #313b44;
$shark-color: #1e2327; //#22282d;
$athensGray-color: #f9fafb;
$paleSky-color: #6e7882;
$twilightBlue-color: #f3fcff;
$geraldine-color: #f88688;
$baliHai-color: #8B9DAF;
$lightDark-custom-color: rgba(0,0,0,0.15);
$goldColor: #FFD700;
$nepal-color: #93A3BC;
$sidecar-color: #f6f1bd;


$spinner-height: 30px;
$spinner-width: 30px;


// Header
$header-height: 45px;
$avatar-width: 35px;
$avatar-height: 35px;
$avatar-state-width: 8px;
$avatar-state-height: 8px;
$profile-menu-width: 140px;


// Nav Bar
$nav-bar-link-width: 100%;
$nav-bar-link-height: 65px;
$nav-bar-link-size: 30px;
$nav-bar-marker-size: 10px;


// Chatbox
$chatbox-padding-top: 10px;
$chatbox-padding-left: 20px;
$chatbox-title-font-size: 18px;
$chatbox-avatar-size: 35px;
$chatbox-header-height: 45px;
$chatbox-body-height: 470px;