.scroller {
  position: relative;

  width: 100%;

  overflow: hidden;

  @at-root #{&}__thumb {
    position: absolute;
    right: 2px;
    top: 0;

    width: 6px;
    height: 40px;

    background-color: rgba(85,85,85,.3);
    border-radius: 4px;
    cursor: pointer;

    z-index: 1000;

    @include transition(background-color .4s);
  }
}